/* Estilos generales para la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e3e3e3; /* Color de fondo */
}

/* header */
header {
    background-color: #3f3f3f; /* Fondo para la cabecera */
    color: #ffffff; /* Color blanco */
    padding: 0.625rem 1.25rem; /* 10px 20px */
    text-align: center;
}

header h1 {
    font-size: 2rem; /* 32px */
    font-weight: bold;
    margin: 1rem; /* 16px */
}

/* indice */
nav ul {
    list-style: none;
    margin-top: 0.625rem; /* 10px */
}

nav ul li {
    display: inline-block;
    margin: 0.625rem; /* 10px */
}


nav ul li a {
    color: #d6d6d6; /* Gris claro */
    text-decoration: none;
    font-size: 1.1rem; /* 17.6px */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffeb3b; /* Amarillo */
}


/* Enunciado del ejercicio */

h2 {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    padding: 0.9375rem 0.9375rem 0rem 0.9375rem; /* 15px */
    color: #3b3b3b;
}

.description {
    display: block;
    padding: 0.9375rem; /* 15px */
    font-size: 1rem; /* 16px */
    color: #555555;
}

/* Estilo para la sección de resultado */
main {
    padding: 1.25rem; /* 20px */
}

#EXERCISE_RESULT {
    margin-top: 1.25rem; /* 20px */
    padding: 1.25rem; /* 20px */
    background-color: #ffffff; /* Blanco */
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px */
    text-align: left;
}


/* Elementos extras del ejecicio */

.grade {
    font-size: 1rem; /* 16px */
    padding: 0.5rem; /* 8px */
    border-radius: 0.25rem; /* 4px */
    margin: 0.5rem auto; /* 8px */
    text-align: center;
    max-width: 25rem; /* 400px */
    font-family: Arial, sans-serif;
    font-weight: bolder;
}

.grade_github {
    background-color: #e6f7ff; /* Azul claro */
    color: #0073e6; /* Azul oscuro */
    border: 0.0625rem solid #0073e6; /* 1px */
}

.grade_error {
    background-color: #ffe6e6; /* Rojo muy claro */
    color: #e60000; /* Rojo */
    border: 0.0625rem solid #e60000; /* 1px */
}
